{% extends "base.html" %}

{% block content %}
<br><br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>IP</th>
            <th>MAC</th>
            <th>TCP</th>
            <th>UDP</th>
            <th>Speed</th>
            <th>% Speed</th>
            <th>Consumption</th>
            <th>% Consumption</th>
        </tr>
    </thead>
    <tbody id="usage-table">
    </tbody>
</table>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {

});
</script>
{% endblock %}